{% extends 'design/base.html'%}
{% load crispy_forms_tags %}
{% block contents %} 
<br/>
<div>
  <h3>Orders this month</h3>
    {% for post in usersrequests %}
    <div>
      <p>
          <p> Name: &nbsp; <small>{{post.author}}

        </small>  Oder on &nbsp;
              <small>{{ post.date|date:'F d, Y' }}
              </small>
            </p>
      </p>
        <p>
                   
           Brand : &nbsp; <small>{{post.brand}} : &nbsp; QTY : <strong>{{post.quantity}}</strong>
            </small>
        </p>

        Location : &nbsp; {{ post.address }}
    </div>
    <hr/>
</div>
{% endfor %}
<h3>Users on the site</h3>
{%for post in Userposts%}
<div>{{post.author}}</div>
{%endfor%}
8
{%endblock contents %}

